<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="../css/user-styles.css">
    <script src="../app/Login.js"></script>
    <script src="../app/Profil.js"></script>

</head>
<body>
    <% if (userType === 'admin') { %>
        <%- include ('adminNav.ejs') %>
    <% } else { %>
        <%- include ('nav.ejs') %>
    <% } %>
<div class="center-text">
    <div class="errors">
        <% if (messages) { %>
            <%= messages.error %> 
           <% } %>
    </div>
    <div class="success">
        <% if (messages) { %>
            <%= messages.success %> 
           <% } %>
    </div>
    <h1>Profil</h1>
    <p>Mit username: <%= username%></p>
    <p>Min email: <%= email%></p>
    <form action="./changePassword" method="post">
        <a>Skift password: </a>
        <input id="newPassword" name="newPassword" type="password" placeholder="Indtast nyt password">
        <input id="newPasswordConfirm" name="newPasswordConfirm" type="password" placeholder="Bekræft nyt password"> 
        <button type="submit">Skift Password</button> <br></form>
</div>
</body>
</html>